<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <title>Admin Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
            <a class="navbar-brand" href="/admin">Muse</a>
            <p class="navbar-text"><%=user.username%> (<%=user.level%>)</p>
            <a type="button" class="btn btn-default navbar-btn navbar-right" href="/adminlogout">登出</a>
            </div>
        </nav>
        <div class="col-sm-2">
            <ul class="nav nav-pills nav-stacked">
                <li ><a href="/dashboard">管理员</a></li>
                <li ><a href="/showadmin">管理员列表</a></li>
                <li ><a href="/showstar">明星列表</a></li>
                <li><a href="/showitem">物品列表</a></li>
                <li class="active"><a href="/shownpc">NPC列表</a></li>
            </ul>
        </div>
        <div class="col-sm-offset-1 col-sm-7">
            <div class="well">
                <h5>NPC</h5>
                <hr/>
                <p class="text-warning"><%= msg %></p>
                <% if(list != []){ %>
                <table class="table table-hover">
                    <tr>
                        <td>ID</td>
                        <td>NPC name</td>
                        <td>live2D</td>
                        <td>Operation</td>
                    </tr>                
                    <% list.forEach(function(e){%>
                    <tr>
                        <td><%=e._id%></td>
                        <td><%=e.npc.npcChineseName%></td>
                        <td><%=e.npc.l2dModel%></td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a data-toggle="modal" data-target="#<%=e._id%>">详细信息</a></li>
                                    <li><a href="/language?id=<%=e._id%>">习惯用语</a></li>
                                    <li><a href="/shop?id=<%=e._id%>">NPC店铺</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <%});%>
                </table>
                <%}%>
                <button type="button" class="btn btn-default " data-toggle="modal" data-target="#add">添加NPC</button>
                
            </div>
        </div>

        

        <%if(list){%>
            <%list.forEach(function(e){%>
                <div class="modal fade" id="<%=e._id%>" tabindex="-1" role="dialog" aria-labelledby="starModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">NPC信息</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" method="POST" action="/changenpcinfo">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">ID</label>
                                    <div class="col-sm-7">
                                    <input value="<%=e._id%>" name="id" type="username" class="form-control" id="inputPassword3" placeholder="ID" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">中文名</label>
                                    <div class="col-sm-7">
                                    <input  value="<%=e.npc.npcChineseName%>" name="npcchinesename" type="username" class="form-control" id="inputPassword3" placeholder="Chinese Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">英文名</label>
                                    <div class="col-sm-7">
                                    <input  value="<%=e.npc.npcEnglishName%>"name="npcenglishname" type="username" class="form-control" id="inputPassword3" placeholder="English Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">出生日期</label>
                                    <div class="col-sm-7">
                                    <input value="<%=e.npc.birthday%>" name="birthday" type="username" class="form-control" id="inputPassword3" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">血型</label>
                                    <div class="col-sm-7">
                                    <input value="<%=e.npc.blood%>" name="blood" type="username" class="form-control" id="inputPassword3" placeholder="Blood">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">星座</label>
                                    <div class="col-sm-7">
                                    <input value="<%=e.npc.constellation%>" name="constellation" type="username" class="form-control" id="inputPassword3" placeholder="Constellation">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">描述</label>
                                    <div class="col-sm-7">
                                    <input value="<%=e.npc.description%>" name="description" type="username" class="form-control" id="inputPassword3" placeholder="Description">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">口头禅</label>
                                    <div class="col-sm-7">
                                    <input value="<%=e.npc.petPhrase%>" name="petphrase" type="username" class="form-control" id="inputPassword3" placeholder="Description">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Live2D</label>
                                    <div class="col-sm-7">
                                    <input value="<%=e.npc.l2dModel%>" name="l2dmodel" type="username" class="form-control" id="inputPassword3" placeholder="Description">
                                    </div>
                                </div>
                                <hr/>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">店铺英文title</label>
                                    <div class="col-sm-7">
                                    <input value="<%=e.npc.shopModel.englishTitle%>" name="englishtitle" type="username" class="form-control" id="inputPassword3" placeholder="HeadPortrait">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">店铺中文title</label>
                                    <div class="col-sm-7">
                                    <input value="<%=e.npc.shopModel.chineseTitle%>" name="chinesetitle" type="username" class="form-control" id="inputPassword3" placeholder="PortraitBig">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">titleimagestr</label>
                                    <div class="col-sm-7">
                                    <input value="<%=e.npc.shopModel.titleImageStr%>" name="titleimagestr" type="username" class="form-control" id="inputPassword3" placeholder="PortraitSmall">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">backImageStr</label>
                                    <div class="col-sm-7">
                                    <input value="<%=e.npc.shopModel.backImageStr%>" name="backimagestr" type="username" class="form-control" id="inputPassword3" placeholder="PortraitSmall">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-3">
                                    <button type="submit" class="btn btn-default">修改NPC信息</button>
                                    </div>
                                    <div class="col-sm-offset-1 col-sm-3">
                                        <a href="/delnpc?id=<%=e._id%>" role="button" class="btn btn-danger" style="float:right; ">删除</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            <%});%>
        <%}%><!--end of change star info modal-->


        <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">添加NPC</h4>
                    </div>
                    <div class="modal-body">
                        <p class="lead">信息录入</p>
                        <form class="form-horizontal" role="form" method="POST" action="/addnpc">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">中文名</label>
                                <div class="col-sm-7">
                                <input name="npcchinesename" type="username" class="form-control" id="inputPassword3" placeholder="Chinese Name">
                                </div>
                            </div>
                             <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">英文名</label>
                                <div class="col-sm-7">
                                <input name="npcenglishname" type="username" class="form-control" id="inputPassword3" placeholder="English Name">
                                </div>
                             </div>
                             <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">出生日期</label>
                                <div class="col-sm-7">
                                <input name="year" type="username" class="form-control" id="inputPassword3" placeholder="年"><input name="month" type="username" class="form-control" id="inputPassword3" placeholder="月"><input name="day" type="username" class="form-control" id="inputPassword3" placeholder="日">
                                </div>
                             </div>
                             <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">血型</label>
                                <div class="col-sm-7">
                                <input name="blood" type="username" class="form-control" id="inputPassword3" placeholder="Blood">
                                </div>
                             </div>
                             <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">星座</label>
                                <div class="col-sm-7">
                                <input name="constellation" type="username" class="form-control" id="inputPassword3" placeholder="Constellation">
                                </div>
                             </div>
                             <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">描述</label>
                                <div class="col-sm-7">
                                <input name="description" type="username" class="form-control" id="inputPassword3" placeholder="Description">
                                </div>
                             </div>
                             <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">口头禅</label>
                                <div class="col-sm-7">
                                <input name="petphrase" type="username" class="form-control" id="inputPassword3" placeholder="petphrase">
                                </div>
                             </div>
                             <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Live2D</label>
                                <div class="col-sm-7">
                                <input name="l2dmodel" type="username" class="form-control" id="inputPassword3" placeholder="Live2DModel">
                                </div>
                             </div>
                             <hr/>
                             <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">店铺英文title</label>
                                <div class="col-sm-7">
                                <input name="englishtitle" type="username" class="form-control" id="inputPassword3" placeholder="englishtitle">
                                </div>
                             </div>
                             <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">店铺中文title</label>
                                <div class="col-sm-7">
                                <input name="chinesetitle" type="username" class="form-control" id="inputPassword3" placeholder="chinesetitle">
                                </div>
                             </div>
                             <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">titleimagestr</label>
                                <div class="col-sm-7">
                                <input name="titleimagestr" type="username" class="form-control" id="inputPassword3" placeholder="titleimagestr">
                                </div>
                             </div>
                             <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">backimagestr</label>
                                <div class="col-sm-7">
                                <input name="backimagestr" type="username" class="form-control" id="inputPassword3" placeholder="backimagestr">
                                </div>
                             </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-10">
                                <button type="submit" class="btn btn-default">添加NPC信息</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!--end of the #add modal-->

        <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    </body>
</html>